/* Common use */
* {
    padding: 0;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

.common-btn {
    padding: 10px 20px;
    background-color: #1d4ed8FF;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}

.container {
    max-width: 1551px;
    margin: auto;
}

/* Nav section start */
.nav-items {
    display: flex;
    justify-content: space-between;
    color: #575757FF;
    padding-top: 15px ;
}

.nav-items ul,
a {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
}

.nav-items a {
    color: #575757FF;
}

.nav-items img {
    width: 150px;
}

/* Nav section end */
/* Hero section start */
.hero-root {
    /* background-image: url(./assets/banner.jpg); */
    background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1551px;
    height: 786px;
    margin: 25px 0; 
}
.hero-root h1{
    text-align: center;
    color: white;
    padding-top: 100px;
    font-size: 80px;
}
.hero-root p{
    color: white;
    text-align: center;
    font-size: 22px;
    width: 800px;
    padding-top: 20px;
    
}

 .btn-2{
   text-align: center;
   margin-top: 350px;
   
}